:root{
    --sucess-color:#2ecc71;
    --error-color:#e74c3c;
}
*{
    margin: 0;
    padding: 0;
}

 body{
        font-family: 'Lato', sans-serif;
    }


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(221, 221, 221);
}

.card{
    background-color: white;
    border-radius: 6px;
    padding: 30px 40px;
    width: 350px;
}

h2{
    text-align: center;
    margin-bottom: 25px;
}

.form-items{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-items label{
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-items input{
    border: 2px solid #cccbcb;
    border-radius: 4px;
    display: block;
    width: 95%;
    padding: 10px;
}

.form-items input:focus{
    outline: 0;
    border-color: #777;
}

.form-items.sucess input{
    border-color: var(--sucess-color);
}
.form-items.error input{
    border-color: var(--error-color);
}

.form-items small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-items.error small{
    visibility: visible;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 82, 189);
    color: white;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}




